%p#notice= notice

%p
  %b User:
  = @person_request.user_id
%p
  %b Target:
  = @person_request.target_id
%p
  %b Starts at:
  = @person_request.starts_at
%p
  %b Ends at:
  = @person_request.ends_at
%p
  %b Chance:
  = @person_request.chance
%p
  %b Title:
  = @person_request.title
%p
  %b Comment:
  = @person_request.comment

= link_to 'Edit', edit_user_person_request_path(@user, @person_request)
\|
= link_to 'Back', user_person_requests_path(@user)
