<div style='background-color: white; border: 3px solid rgb(42, 42, 42); border-radius: 4px; margin: 4px'>
  <h2>Módosítás: <%= resource.name %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, "E-mail cím:" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Jelenleg megerősítésre vár innen: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "Új jelszó:" %> <i>(hagyd üresen ha nem akarod megváltoztatni)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Jelszó megerősítés:" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "Aktuális jelszó" %> <i>(az adatok módosításához szükséges)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    <div class="field">
      <%= f.label :last_name, "Vezetéknév" %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :first_name, "Keresztnév" %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="actions">
      <%= f.submit "Módosítás" %>
    </div>
  <% end %>
</div>
