<div style='background-color: white; border: 3px solid rgb(42, 42, 42); border-radius: 4px; margin: 4px'>
  <h2>Regisztráció</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, "E-main cím" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, "Jelszó" %>
      <% if @minimum_password_length %>
      <em>(minimum <%= @minimum_password_length %> karakter)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Jelszó megerősítés" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    
    <div class="field">
      <%= f.label :godfather_id, "Mentor" %><br/>
      <%= f.select(:godfather_id, content_tag(:option, '', value: '')+options_from_collection_for_select(User.with_role(:godfather), :id, :name)) %>
    </div>
        
    <div class="field">
      <%= f.label :last_name, "Vezetéknév" %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :first_name, "Keresztnév" %><br />
      <%= f.text_field :first_name %>
    </div>
    
    

    <div class="actions">
      <%= f.submit "Regisztráció" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>