%h1 Listing competence_tiers

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Competence tier group
      %th
      %th
      %th

  %tbody
    - @competence_tiers.each do |competence_tier|
      %tr
        %td= competence_tier.title
        %td= competence_tier.description
        %td= competence_tier.competence_tier_group_id
        %td= link_to 'Show', competence_tier
        %td= link_to 'Edit', edit_competence_tier_path(competence_tier)
        %td= link_to 'Destroy', competence_tier, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Competence tier', new_competence_tier_path
