%p#notice= notice

%p
  %b Title:
  = @competence_tier.title
%p
  %b Description:
  = @competence_tier.description
%p
  %b Competence tier group:
  = @competence_tier.competence_tier_group_id

= link_to 'Edit', edit_competence_tier_path(@competence_tier)
\|
= link_to 'Back', competence_tiers_path
