%h1 Listing competence_types

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @competence_types.each do |competence_type|
      %tr
        %td= competence_type.title
        %td= link_to 'Show', competence_type
        %td= link_to 'Edit', edit_competence_type_path(competence_type)
        %td= link_to 'Destroy', competence_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Competence type', new_competence_type_path
