<div class='row top-gutter-300'>
  
</div>
<div class='row'>
  <div class='column column-20'>
    
  </div>
  <div class='column column-60 login-screen'>
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="row">
          <div class='column column-10'>
            <%= f.check_box :remember_me %>
            
          </div>
          <div class='column column-90'>
            <%= f.label :remember_me %>
            
          </div>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>  </div>
  <div class='column column-20'>
    
  </div>
</div>


<div style='margin-top: 200px; background-color: white'>
  <div>
    Minden jelsz칩 <pre>aaaaaaaa</pre> (8 darab a)
  </div>
  <div>
    Adminok:
    <ul>
      <li>
        a@example.com
      </li>
    </ul>
    Felhaszn치l칩k:
    <ul>
      <li>
        ruby@example.com
      </li>
      <li>
        java@example.com
      </li>
    </ul>
    Keresztap치k:
    <ul>
      <li>
        don.corleone@example.com
      </li>
      <li>
        don.omar@example.com
      </li>
    </ul>
  </div>
</div>
