%h1 Rendelkezésreállás történet

%table
  %thead
    %tr
      %th Kezdés
      %th Befejezés
      %th Megjegyzés
      %th
      %th
      %th

  %tbody
    - @availabilities.each do |availability|
      %tr
        %td= availability.starts_at
        %td
          -if availability.ends_at.nil?
            N/A
          -else
            =availability.ends_at
        %td= availability.comment
        %td= link_to 'Részletek', user_availability_path(@user, availability)
        %td= link_to 'Szeresztés', edit_user_availability_path(@user, availability)
        %td= link_to 'Visszavon', user_availability_path(@user, availability), :method => :delete, :data => { :confirm => 'Biztos?' }

%br

= link_to 'Új rendelkezésre állás', new_user_availability_path
