%p#notice= notice

%p
  %b User:
  = @availability.user_id
%p
  %b Start:
  = @availability.starts_at
%p
  %b End:
  = @availability.ends_at
%p
  %b Comment:
  = @availability.comment

= link_to 'Edit', edit_user_availability_path(@user, @availability)
\|
= link_to 'Back', user_availabilities_path(@user)
