!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Komp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = import_bundle
    = csrf_meta_tags
  %body
    .container
      .row
        -flash.each do |key, value|
          %p{class: "alert alert-#{key}"}
            =value
      .row
        .column.column-100
          = yield
